{% extends "base.html" %}
{% block content %}

{% block title %}
<title>Pagrindinis</title>
{% endblock %}

<body>
    <h1>Sveiki atvykę į „Foodonline“</h1>

    <p>
        „Foodonline“ yra programa, leidžianti jums nuolat stebėti ir palyginti kainas iš pagrindinių internetinių maisto produktų tiekėjų. Šiame puslpayje galite bet kada, rankiniu būdu atnaujinti kainas.
    </p>

    <p>
        Bet kada galite pridėti naują produktą į savo palyginamųjų produktų katalogą.
    </p>

    <!-- Mygtukas nueiti į all_products.html -->
    <a href="{% url 'all_products' %}">
        <button type="button">Peržiūrėti produktus</button>
    </a>


</body>

{% endblock %}