{% extends "base.html" %}
{% block content %}

{% block title %}
<title>Pagrindinis</title>
{% endblock %}

<body>
    <h1>Sveiki atvykę į „Foodonline“</h1>

    <p>
        „Foodonline“ yra puslapis, leidžiantis jums nuolat stebėti ir palyginti kainas iš 3-jų internetinių maisto produktų tiekėjų.
        <br>Šiame puslpayje galite bet kada, rankiniu būdu atnaujinti kainas.
    </p>

    <p>
        Bet kada galite pridėti naują produktą į savo palyginamųjų produktų katalogą.
    </p>

    <a href="{% url 'all_products' %}">
        <button type="button" class="btn btn-success">Peržiūrėti produktus</button>
    </a>


</body>

{% endblock %}