{% extends "base.html" %}
{% block content %}

{% block title %}
<title>Produkto apžvalga</title>
{% endblock %}

<head>
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Kategorija: {{ product.category }}</p>

    <h2>Kainos parduotuvėse:</h2>
    <ul>
    {% for price in product.price_set.all %}
        <li class="shop-price {% if price.shop.name == 'BARBORA' %}shop-price-barbora{% endif %}
                                     {% if price.shop.name == 'RIMI' %}shop-price-rimi{% endif %}
                                     {% if price.shop.name == 'AIBĖ' %}shop-price-aibe{% endif %}">
            {% if price.shop.name == 'BARBORA' %}
                BARBORA - €{{ price.price }} <a href="{{ product.shop_url_1 }}" target="_blank">&ensp;&ensp;<button> Eiti į BARBORA </button></a>
            {% elif price.shop.name == 'RIMI' %}
                RIMI - €{{ price.price }} <a href="{{ product.shop_url_2 }}" target="_blank">&emsp;&emsp;&ensp;&ensp;&ensp;<button> Eiti į RIMI </button></a>
            {% elif price.shop.name == 'AIBĖ' %}
                AIBĖ - €{{ price.price }} <a href="{{ product.shop_url_3 }}" target="_blank">&emsp;&emsp;&ensp;&ensp;&ensp;<button> Eiti į AIBĖ </button></a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% if product.image %}
    <img src="{{ product.image.url }}" alt="Product Image" class="medium-img" />
{% else %}
    <p>No image available</p>
{% endif %}

    <p>Atnaujinta: {{ product.last_update }}</p>
</body>


{% endblock %}