{% extends "base.html" %}

{% block title %}
<title>Produkto apžvalga</title>
{% endblock %}

{% block content %}

<body>

<div class="product-container">

    <h1>{{ product.name }}</h1>

    <div class="product-details">
        <div class="product-image">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="Product Image" class="medium-img"/>
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>

        <div>
            <p>Kategorija: <a href="{% url 'all_products' %}?category_id={{ product.category.id }}">{{ product.category }}</a></p>

            <h2>Kainos parduotuvėse:</h2>
            <br>
            <ul>
                {% for price in product.price_set.all %}
                <li class="shop-price
            {% if price.shop.name == 'BARBORA' %}
                shop-price-barbora
            {% elif price.shop.name == 'RIMI' %}
                shop-price-rimi
            {% elif price.shop.name == 'AIBĖ' %}
                shop-price-aibe
            {% endif %}
        ">
                    {% if price.shop.name == 'BARBORA' %}
                    BARBORA - €{{ price.price }} <a href="{{ product.shop_url_1 }}" target="_blank">&ensp;&ensp;<button>
                    Eiti į BARBORA
                </button>
                </a>
                    <hr>
                    {% elif price.shop.name == 'RIMI' %}
                    RIMI - €{{ price.price }} <a href="{{ product.shop_url_2 }}" target="_blank">&emsp;&emsp;&ensp;&ensp;&ensp;<button>
                    Eiti į RIMI
                </button>
                </a>
                    {% elif price.shop.name == 'AIBĖ' %}
                    <hr>
                    AIBĖ - €{{ price.price }} <a href="{{ product.shop_url_3 }}" target="_blank">&emsp;&emsp;&ensp;&ensp;&ensp;<button>
                    Eiti į AIBĖ
                </button>
                </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <br>

            <p>Atnaujinta: {{ product.last_update }}</p>
        </div>
    </div>
</div>

</body>

{% endblock %}
